.App {
  text-align: center;
  font-family: "DM Sans", sans-serif;
  background-color: bisque;
  min-height: 100hv;
}

.Main{
  padding: 81px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


* {
  box-sizing: border-box;
}

a {
  color: #555555;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
}

a:hover i {
  color: #ffdc00;
  transition: color ease-in-out 0.3s;
}

i {
  color: #cfced3;
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #ffdc00;
}